#btn-cambio-rapido-de-mesa{
    display: none;
}

#boton-sacar-item{
    display: none;
}

#sistem-nav{
    display: none;
}

#btn-add-rapido-de-mesa{
    display:none;
}

#mesa-total {
    top:-103px;
}

#boton-cancelar-cierre{
    display:none;
}

#boton-reimprimir{
    display:none;
}

#boton-borrar{
    display:none;
}