#btn-cambio-rapido-de-mesa{
    display: none;
}

#mesas-listado{
    display: none;
}


#mesa-container {
    height:495px;
    top:95px;
}


#pages {
    height:481px;
}

#f5-refresh{
    display:none;
}

#btn-comensales{
     display:none;
}
