
.alekeyboard{
    position: fixed;
    bottom: 0px;   
    padding: 30px;
    background: white;
    text-align: center;
    border: 2px solid grey;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    background-image: linear-gradient(bottom, rgb(232,232,232) 27%, rgb(252,252,252) 82%);
    background-image: -o-linear-gradient(bottom, rgb(232,232,232) 27%, rgb(252,252,252) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 27%, rgb(252,252,252) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 27%, rgb(252,252,252) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 27%, rgb(252,252,252) 82%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.27, rgb(232,232,232)),
            color-stop(0.82, rgb(252,252,252))
    );
}

.numpad{
    width: 160px;
    left: 40%;
}

.words{
    width: 460px;
    left: 32%;
}

.numpad button{
    width: 33%;
}

.alekeyboard button{
  font-size: xx-large;
/*  width: 33%;*/
}


.key-0, .key-enter{
    width: 100% !important;
}

.key-enter{
    background-color: khaki;
    width: 50% !important;
    text-indent: -1000px;
    background-color: transparent;
    border: none;
    background-image: url(alekeyboard/ok.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 60px;
    overflow: hidden;
}

.key-back{
    background-color: cornsilk;
    width: 50% !important;
    overflow: hidden;
    text-indent: -1000px;
    background-color: transparent;
    border: none;
    background-image: url(alekeyboard/back.png);
    background-position: 50% 50%;
    height: 60px;
    background-repeat: no-repeat;    
}

.key-{
    width: 100% !important;
    height: 1.32em;
    
}