* {
	margin:0;
	padding:0;
        text-decoration: none; 
}

/* General Style Info */
body {
	background-color: #6b6b6e;
	color: #000000;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:80%;
	margin: 5px;
        
        /* Css degrade */
}
span {
    font-size:75%;
    font-family:arial,sans-serif;
}
label {
    font-size:85%;
}

a {
	color: #6B6B6E;
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	color: #000000;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1 {
	color: #000000;
	font-size: 190%;
	margin: 0.1em 0;
        font-weight: bold;
}
h2 {
	color: #000000;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 140%;
	margin: 0.3em 0;
	padding-top: 0.8em;
}
h3 {
	color: #000000;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 120%;
	padding-top: 1.5em;
}
h4 {
	color: #000000;
	font-weight: normal;
	padding-top: 0.5em;
        font-size: 100%;
}


ul, li {
	margin: 0 12px;
}

/* Layout */
/* Layout */
#container {
	text-align: left;
}

.header{
	padding-top: 0;
        padding-bottom: 5px;
}
.header a {
	color: #CCCCCC;
	text-decoration: none;
	font-weight: normal;
}

.header a {
	color: #CCCCCC;
	text-decoration: none;
	font-weight: normal;
}

.header a:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

.header h1 {
	color: #e3e3e4;
}

#content{
	background: #fff;
	color: #333;
	overflow: auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px; 
        padding: 15px;
        left: -15px;
        background: #f0f0f0;
	background-image: -moz-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#eeeeee),
		color-stop(1, 		#dddddd));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#dddddd')";
}
#footer {
	text-align: right;
}


/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	display: inline;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
        margin-bottom: 15px;
}
fieldset legend {
	color: #C61400;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	display: inline;
	vertical-align: text-top;
}
form div.input {
	color: #444;
        float: left;
        clear: both;
}
form div.required {
	color: #333;
	font-weight: bold;
}
label {
	display: block;
	padding-right: 20px;
}
input, textarea {
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
}
select {
	vertical-align: text-bottom;
}
select[multiple=multiple] {
}
option {
	padding: 0 3px;
}
div.radio label {
	margin: 0 0 6px 20px;
}


.cambiopass {
    color: #ff0000;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 120%;
    float: left;
}
.submit {
    float: left;
    clear: both;
    margin-top: 10px;
}
.cambiopass:hover {
    color: #000000;
}
/* Notices and Errors */
div.message {
	clear: both;
	color: #e3e3e4;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
        display: block;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}


li.selected    { 
    background-color  : maroon;
    color             : #ffb;
}




#botonera_home{
	text-align: center;
	margin: auto;
        padding-bottom: 80px;
}


.boton{
	display: block;
	height: 65px;
	width: 100px;
	border: 2px solid #666666;
	text-align: center;
	text-decoration: none;
	background-color: silver;
	vertical-align: middle;
	overflow: hidden;  
        color: #000000; 
}

.boton:hover{
	background-color: #E7E7E7;
        -webkit-transition: background 180ms ease;
        -moz-transition: background 180ms ease;
        -o-transition: background 180ms ease;
        transition: background 180ms ease;
}

.redondeado{
	-webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px; 
}

.redondeado-arriba{
        -moz-border-radius-topleft: 17px;
        -moz-border-radius-topright: 17px;
        -webkit-border-radius: 17px 17px px px;
        border-radius: 17px 17px px px; 
}

.redondeado-abajo{
        -moz-border-radius-bottomright: 17px;
        -moz-border-radius-bottomleft: 17px;
        -webkit-border-radius: px px 17px 17px;
        border-radius: px px 17px 17px; 
}

.inicio{
	margin-top: 0;
	background-color: transparent;
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	text-indent: -1000px;
	display: block;
	height: 65px;
	width: 75px;
        float: left;
        background-position: center;
}
.inicio:hover{
	background-color: transparent;
        background-position: center;
	background-image: url("../img/homehover.png");
}


.divboton{
    margin-top: 200px;
    font-weight: bold;
    font-size: 150%;
}


#bton-estadisticas{
	background-image: url("../img/stats.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

#bton-adicion{
	background-image: url("../img/adicion.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

#bton-caja{
	background-image: url("../img/caja.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

#bton-admin{
	background-image: url("../img/admin.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

#bton-contabilidad{
	background-image: url("../img/contable.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

/* administracion */

.administracion_menu {
    font-family: Verdana, sans-serif;
}

.administracion_menu h2 {
    font-size: 140%;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=2, offy=2); 
}

.administracion_menu a {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 1px; 
    
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 1px #f6f6f6;
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -webkit-gradient(linear,left top,left bottom,	color-stop(0,#fdfdfd), color-stop(1,#eeeeee));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#eeeeee')";
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    box-shadow: 0px 1px 4px rgba(0,0,0,.3);

}

.administracion_menu a:hover{
	border: 1px solid 		#bbb;
	background: 			#dadada;
	font-weight: bold;
	color: 					#101010;
	text-shadow: 0 1px 1px 	#fff;
	background-image: -moz-linear-gradient(top, 
							#ededed, 
							#dadada);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#ededed),
		color-stop(1, 		#dadada));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#dadada')";
        
}        


#MesaIndexForm{
    text-align: left;
     font-size: 12px;
}

#MesaIndexForm label{
     font-size: 14px;
     font-weight: normal;
     padding: 0;
     margin: 0;
 }
 
#MesaIndexForm input {
    font-size: 10px;
 } 
 
#MesaIndexForm div.input{
    float: none;
}
#MesaIndexForm select{
    font-size: 12px;
    margin: 0;
}
 
.mesas {
     font-size: 15px;
 }
 
.MesaEstadoCerrada{
     font-size: 10px;
}


/* seccion productos */

.productos tbody tr th {
    padding-left: 5px;
    padding-right: 5px;
}
.productos tbody tr td {
    padding-left: 5px;
    padding-right: 5px;
}

.productos input[type=text]{
     width: 70px;
}
#ProductoName{
    width: 80px;
}

#ProductoOrder{
    width: 35px;
}
#ProductoPrecio{
    width: 40px;
}