
#botonera_home{
	text-align: center;
	margin: auto;
}


.boton{
	display: block;
	height: 65px;
	width: 100px;
	border: 1px solid grey;
	text-align: center;
	text-decoration: none;
	background-color: silver;
	vertical-align: middle;
	overflow: hidden;
}

.boton:HOVER{
	background-color: ThreeDLightShadow;
}

.redondeado{
	-moz-border-radius:17px;
}

.redondeado-arriba{
	-moz-border-radius-topleft:17px;
	-moz-border-radius-topright:17px;
}

.redondeado-abajo{
	-moz-border-radius-bottomleft:17px;
	-moz-border-radius-bottomright:17px;
}



.inicio{
	margin-top: 10px;
	background-color: transparent;
	background-image: url("img/starthere.png");
	background-repeat: no-repeat;
	text-indent: -1000px;
	display: block;
	height: 122px;
	width: 170px;
        float: left;
}
.inicio:hover{
	background-color: transparent;
	background-image: url("img/starthere_hover.png");
}



#bton-estadisticas{
	background-image: url("img/stats.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 63px;
	width: 147px;
	padding-top: 62px;
}

#bton-adicion{
	background-image: url("img/calculator_yellow.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 105px;
	width: 147px;
	padding-top: 20px;
}

#bton-caja{
	background-image: url("img/cash_register.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 125px;
	width: 147px;
	text-indent: -69px;
}

#bton-admin{
	background-image: url("img/Administrative_Tools.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 111px;
	width: 147px;
	padding-top: 14px;
}


