* {
	margin:0;
	padding:0;
        text-decoration: none;
}

/* General Style Info */
body {
	background-color: #6b6b6e;
	color: #e3e3e4;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:80%;
	margin: 0;
        /* Css degrade */
}
span {
    font-size:75%;
    font-family:arial,sans-serif;
}
label {
    font-size:85%;
}

a {
	color: #6B6B6E;
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	color: #000000;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1 {
	color: #000000;
	font-size: 190%;
	margin: 0.1em 0;
        font-weight: bold;
}
h2 {
	color: #000000;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 140%;
	margin: 0.3em 0;
	padding-top: 0.8em;
}
h3 {
	color: #000000;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 120%;
	padding-top: 1.5em;
}
h4 {
	color: #000000;
	font-weight: normal;
	padding-top: 0.5em;
        font-size: 100%;
}


ul, li {
	margin: 0 12px;
}

/* Layout */
/* Layout */
#container {
	text-align: left;
}

#header{
	padding-top: 10px;
        padding-bottom: 20px;
}

#header a {
	color: #e3e3e4;
	text-decoration: none;
	font-weight: normal;
}
#header a:hover {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#header h1 {
	color: #e3e3e4;
}



#header h1 a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	text-decoration: underline;
}
#content{
	background: #fff;
	color: #333;
	overflow: auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px; 
        padding-top: 20px;
        padding-bottom: 20px;
}
#footer {
	text-align: right;
}


/* Paging */
div.paging {
	background:#fff;
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	display: inline;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	display: inline;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
label {
	display: block;
	padding-right: 20px;
}
input, textarea {
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
}
select {
	vertical-align: text-bottom;
}
select[multiple=multiple] {
}
option {
	padding: 0 3px;
}
div.radio label {
	margin: 0 0 6px 20px;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #e3e3e4;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}


li.selected    { 
    background-color  : maroon;
    color             : #ffb;
}




#botonera_home{
	text-align: center;
	margin: auto;
}


.boton{
	display: block;
	height: 65px;
	width: 100px;
	border: 2px solid #666666;
	text-align: center;
	text-decoration: none;
	background-color: silver;
	vertical-align: middle;
	overflow: hidden;  
        color: #000000; 
}

.boton:hover{
	background-color: #E7E7E7;
        -webkit-transition: background 180ms ease;
        -moz-transition: background 180ms ease;
        -o-transition: background 180ms ease;
        transition: background 180ms ease;
}

.redondeado{
	-webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px; 
}

.redondeado-arriba{
        -moz-border-radius-topleft: 17px;
        -moz-border-radius-topright: 17px;
        -webkit-border-radius: 17px 17px px px;
        border-radius: 17px 17px px px; 
}

.redondeado-abajo{
        -moz-border-radius-bottomright: 17px;
        -moz-border-radius-bottomleft: 17px;
        -webkit-border-radius: px px 17px 17px;
        border-radius: px px 17px 17px; 
}

.inicio{
	margin-top: 10px;
	background-color: transparent;
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	text-indent: -1000px;
	display: block;
	height: 65px;
	width: 75px;
        float: left;
        background-position: center;
}
.inicio:hover{
	background-color: transparent;
        background-position: center;
	background-image: url("../img/homehover.png");
}



#bton-estadisticas{
	background-image: url("img/stats.png");
	background-repeat: no-repeat;
	background-position: 10px 34px;
	height: 114px;
	width: 147px;
	padding-top: 11px;
        -webkit-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        -moz-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        box-shadow: inset 0px 0px 4px 0px #FFFFFF; 
        font-weight: bold;
}

#bton-adicion{
	background-image: url("img/calculator_yellow.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 103px;
	width: 147px;
	padding-top: 22px;
        margin-bottom: 20px;
        -webkit-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        -moz-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        box-shadow: inset 0px 0px 4px 0px #FFFFFF; 
        font-weight: bold;
}

#bton-caja{
	background-image: url("img/cash_register.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 115px;
	width: 147px;
	text-indent: -69px;
        margin-bottom: 20px;
        -webkit-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        -moz-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        box-shadow: inset 0px 0px 4px 0px #FFFFFF; 
        font-weight: bold;
        padding-top: 10px;
}

#bton-admin{
	background-image: url("img/Administrative_Tools.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	height: 108px;
	width: 147px;
	padding-top: 17px;
        -webkit-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        -moz-box-shadow: inset 0px 0px 4px 0px #FFFFFF;
        box-shadow: inset 0px 0px 4px 0px #FFFFFF; 
        font-weight: bold;
}


/* CSS PARA FORMULARIOS */

input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F1F1F2;
    border-bottom-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0;
  
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFFFF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 3px #CCCCCC inset;
    color: #666666;
    height: 13px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    width: 150px;
}

textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    background-color: #F1F1F2;   
    border-bottom-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    border-left-style: physical;
    border-left-width: 1px;
    border-left-color: #FFFFFF;
    border-left-color-value: #FFFFFF;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFFFF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 3px #CCCCCC inset;
    color: #B6B6B6;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    width: 150px;

}


input:hover, .inner_main textarea:hover {
    background-color: #EFEFEF;
    box-shadow: 0 2px 2px #CCCCCC inset;
    color: #9E9E9E;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}


input:focus, textarea:focus {
    background-color: #EAEAEA;
    box-shadow: 0 2px 4px #B9B9B9 inset;
    color: #818181;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}

input[type="submit"] {
    background: rgb(196,196,196); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(196,196,196,1) 0%, rgba(102,102,102,1) 60%, rgba(102,102,102,1) 76%, rgba(102,102,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,1)), color-stop(60%,rgba(102,102,102,1)), color-stop(76%,rgba(102,102,102,1)), color-stop(100%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(102,102,102,1) 60%,rgba(102,102,102,1) 76%,rgba(102,102,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(102,102,102,1) 60%,rgba(102,102,102,1) 76%,rgba(102,102,102,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(102,102,102,1) 60%,rgba(102,102,102,1) 76%,rgba(102,102,102,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(196,196,196,1) 0%,rgba(102,102,102,1) 60%,rgba(102,102,102,1) 76%,rgba(102,102,102,1) 100%); /* W3C */
    color: #FFFFFF;
    height: 20px;
    line-height: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 50px;
    border: none;
    font-size: 11px;
    font-weight: bold;
}


input[type="submit"]:hover {
    color: #E7E7E7;
}

input[type="checkbox"] {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    float: left;
    width: auto;
    height: auto;
}